
body{
    height: 2449px;
}
.barra{
    
    width: 99%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(4, 39, 44, 0.945);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.ocultar{
    overflow: hidden;
}
.border-formulario{
    border-radius: 2rem;
}
.nav-user{
    display: flex;
    justify-content: space-around;
    
}
.nav-user li{
    list-style-type: none;
}

.background{
    background-color: #c0dfdf;
}
.image_logo{
    margin-left: 15%;
    border-bottom-right-radius: 4%;
}

.texto-centro{
    text-align: center;
}

.img-caja{
    float: left;
    width: 20%;
}

.caja-lista-navegacion{

    float: right;
  
    width: 80%;
    align-items: flex-end;
 
}





.boton-menu{    
    display: none;
    float: right;
    margin-right: 10px;
    margin-top:5px;
    width: 38px;
    height: 35px;
}


.tamano{
    width:70%;
  
    border-top: solid;
    border-right: solid;
}
.left{
    float: left;
}
.right{
    float: right;
}
.bord{
    border-bottom: solid;
}
.fuente{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mt-6{

    margin-top: 6%;
}
.mt-7{

    margin-top: 7%;
}
.mt-8{

    margin-top: 8%;
}
.mt-9{

    margin-top: 9%;
}
.mt-10{

    margin-top: 10%;
}
.mt-11{

    margin-top: 11%;
}

.mt-12{

    margin-top: 12%;
}

.mt-13{

    margin-top: 13%;
}

.mt-14{

    margin-top: 14%;
}



.texto-especial{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(6, 6, 187);
}
.titulo-proyecto{

    padding: 10px;
    background-color: rgb(178, 200, 201);
}
.project{
    
    width: 100%;
}
#centro{
    margin: auto;
}

@media only screen and (max-width: 320px){
    
    #header{
        margin-top: 5rem ;
    }
    .tamaño-h1{
        font-size: 18px;
    }
    .tamaño-h1-2{
        font-size: 17px;
    }
    .tamaño-h3-1{
        font-size: 15px;
    }
    .nav-user{
        display: flow-root;
    }
    
}
@media only screen and (max-width: 425px){
    
    #header{
        margin-top: 5rem ;
    }
    .tamaño-h1{
        font-size: 18px;
    }
    .tamaño-h1-2{
        font-size: 17px;
    }
    .tamaño-h3-1{
        font-size: 15px;
    }
    .nav-user{
        display: flow-root;
    }
    
}
@media only screen and (max-width:768px){
    
    #header{
        margin-top: 5rem ;
    }
    .tamaño-h1{
        font-size: 18px;
    }
    .tamaño-h1-2{
        font-size: 17px;
    }
    .tamaño-h3-1{
        font-size: 15px;
    }
    .nav-user{
        display: flow-root;
    }
    
}
.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceOut {
  20% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  50%, 55% {
  opacity: 1;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  }
  @keyframes bounceOut {
  20% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  50%, 55% {
  opacity: 1;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  } 
  .bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceOut {
    20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    }
    @keyframes bounceOut {
    20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    } 
    .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 
        .slideInLeft {
            -webkit-animation-name: slideInLeft;
            animation-name: slideInLeft;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes slideInLeft {
            0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
            }
            100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            }
            }
            @keyframes slideInLeft {
            0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
            }
            100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            }
            } 
            .slideInRight {
                -webkit-animation-name: slideInRight;
                animation-name: slideInRight;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                }
                @-webkit-keyframes slideInRight {
                0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                visibility: visible;
                }
                100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                }
                }
                @keyframes slideInRight {
                0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                visibility: visible;
                }
                100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                }
                } 
  
    .bounceIn {
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
        }
        100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        }
        @keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
        }
        100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        } 
      